<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>Tarefa 04</title>
</head>
<body>
  <header>
    <h1 id="hd-title"><a href="/">MeuSite</a></h1>
    <nav id="hd-navbar">
      <ul id="hd-list">
        <li id="hd-list-item">
          <p><a href="/produtos">Produtos</a></p>
        </li>
        <li id="hd-list-item" class="btn-box">
          <p><a href="/entrar">Entrar</a></p>
        </li>
        <li id="hd-list-item" class="btn-box">
          <p><a href="/registrar">Registrar</a></p>
        </li>
      </ul>
    </nav>
  </header>
  {{{body}}}
  <footer>
    <p>&copy;<a href="https://github.com/silvardev" target="_blank">silvardev</a></p>
  </footer>
</body>
</html>